/*----------------------------------------------------FONT-------------------------------------------------------*/
@font-face{
    font-family: poke;
    src: url(/font/Pokemon.Hollow.ttf);
}

@font-face{
    font-family: poke-solid;
    src: url(/font/Pokemon.Solid.ttf);
}

@font-face{
    font-family: rosa;
    src: url(/font/castameresansregular.ttf);
 }
 
 @font-face{
     font-family: out;
     src: url(/font/outlander.ttf);
 }

/*---------------------------------------------------NAV-BAR-----------------------------------------------------*/
/*---------COLOR-NAV-BARS---------*/
.navbar{
    background-color:rgb(12, 4, 75) !important;
}

/*-------------LIEN---------------*/

li{
    margin-left: 50px;
}

a{
    font-family: poke-solid;
    font-size: 1.5rem !important;
    letter-spacing: 3px !important;
    color: white !important;
    text-shadow: 2px 2px 4px gray !important;
    text-decoration: none !important;
}

.btn-ajout{
    margin-left: 200px;
    text-decoration: none !important;
}

/*----------------------------------------------------FOOTER-----------------------------------------------------*/
footer{
    background-color: rgb(12, 4, 75)!important;
    height: 80px;
    margin-top: 322px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    width: 100%;
}

h2{
    font-family: poke-solid;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

/*--------------------------------------------------CONNEXION----------------------------------------------------*/
/*---------------BLOCK--------------*/
.main-connexion{
    background-image: url(/img/bg1.png);
    background-repeat:round;
    background-size: contain;   
    height: 765px;
    display: flex;
    justify-content: center;
}



/*--------------FORM----------------*/
.form-connexion{
    background-image: url(/img/bg-form.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 95px;
    border: solid 1px black;
    border-radius: 2%;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 600px;
    height: 425px;
}

.article-connexion fieldset{
    width: 500px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-connexion legend{
    color: black;
    text-shadow: 1px 1px 3px black;
}

.article-connexion input{
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    margin-top: 5px;
}

textarea{
    font-size: 1rem;
    color: black;
    width: 95%;
    height: 230px;
    border: solid 1px black;
    border-radius: 2px;
}

/*-------------BOUTON----------------*/
.article-connexion button{
    font-family: poke-solid !important;
    color: white;
    background-color: #ffd622 !important;
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 163px;
    width: 80px;
}

#b-valid{
    color: rgb(194, 2, 2) !important;
    text-shadow: 1px 1px 3px white !important;
    margin-bottom: 5px;
}

/*--------------------------------------------------SINSCRIRE----------------------------------------------------*/
/*---------------BLOCK--------------*/
.main-sinscrire{
    background-image: url(/img/bg1.png);
    background-repeat:round;
    background-size: contain;   
    height: 765px;
    display: flex;
    justify-content: center;
}

/*--------------FORM----------------*/
.form-sinscrire{
    background-image: url(/img/bg-form.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    margin-top: 95px;
    border: solid 1px black;
    border-radius: 2%;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 600px;
    height: 425px;
}

.article-sinscrire fieldset{
    width: 500px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-sinscrire legend{
    color: black;
    text-shadow: 1px 1px 3px black;
}

.article-sinscrire input{
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    margin-top: 5px;
}

textarea{
    font-size: 1rem;
    color: black;
    width: 95%;
    height: 230px;
    border: solid 1px black;
    border-radius: 2px;
}

/*-------------BOUTON----------------*/
.article-sinscrire button{
    color: white;
    background-color: #ffd622;
    text-align: center;
    border: solid 1px black;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 77px;
    width: 80px;
}

b{
    font-family: poke-solid;
    color: #ffd622 ;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 2px;
}

/*---------------------------------------------------ERROR------------------------------------------------------*/
.erreur{
    font-family: poke-solid;
    color: red;
    background-color: aliceblue;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------HOME------------------------------------------------------*/
.main-listPokemon{
    background-image: url(/img/bg2.jpg);
    background-repeat:round;
    background-size: contain;
    height: auto;
}

/*-------------BADGES----------------*/
.div-badges{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 195);
    border: solid 1px black;
    box-shadow: 2px 2px 4px black;
}

.text-badges{
    font-size: 1.8rem !important;
    margin-bottom: 15px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px red !important;
}

#card-complet{
    margin-top: 10px !important;
}

#b-card{
    font-family: rosa !important;
    color: black !important;
}

/*--------------------------------------------PAGE-AJOUT-POKEMON-----------------------------------------------*/
.main-ajout{
    background-image: url(/img/balls.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    opacity: 0.9;  
    height: 765px;
}

/*-------------BOUTON----------------*/
.main-ajout button{
    color: white;
    background-color: #ffd622;
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 10px;
    width: 80px;
}

/*--------------------------------------------------TESTE-------------------------------------------------------*/

  
/*-------------------------------------------------THE END------------------------------------------------------*/

